.personal-ino-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto;
}

.image-container {
  position: relative;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
}

.user-profile-img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.image-icon {
  position: absolute;
  display: flex;
  text-decoration: none;
  bottom: -15px;
  right: -45px;
  z-index: 2;
}

.upload-profile-image {
  font-size: 12px !important;
  color: blue !important;
  font-weight: 600 !important;
  padding-left: 5px;
  padding-top: 2px;
}

.rated-star-comp {
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%);
}

.info-container h3 {
  font-size: 14px;
  font-weight: 600;
}

.info-container h2 {
  font-weight: 500;
  color: var(--primary-color);
  padding-bottom: 10px;
}

.fa-pen {
  color: blue;
  margin-right: 5px;
  font-size: 12px;
}

.edit-profile-info {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.edit-profile-info h3 {
  font-size: 12px;
  text-decoration: underline;
  color: blue;
}
