.container {
  margin: 0px auto;
  width: 80%;
}

.row {
  row-gap: 10px;
}

.card {
  cursor: pointer;
}

.categories-Container {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px 0 25px 0;
}

@media only screen and (max-width: 600px) {
  /* cards */
  .container {
    width: 90%;
  }
  .categories-Container {
    margin: 0;
  }
  .card {
    width: 100%;
    margin-bottom: 10px;
  }
}
