.order-details-card-container {
  display: flex;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.order-details-img-container {
  margin-right: 20px;
}
.order-details-img {
  object-fit: cover;
  width: 160px;
  height: 120px;
}

.order-details-info {
  display: flex;
  width: 100%;
}

.order-details-basic-info {
  flex: 2;
  font-size: 14px;
}
.order-details-basic-info span {
  font-size: 16px;
}
.order-details-price-info {
  flex: 1;
  font-size: 14px;
}
.order-details-price-info span {
  font-size: 16px;
}
/*Responsive styling*/

@media screen and (max-width: 1024px) {
  .order-details-img {
    width: 120px;
    height: 80px;
  }
  .order-details-basic-info {
    font-size: 10px;
  }
  .order-details-basic-info span {
    font-size: 12px;
  }
  .order-details-price-info {
    font-size: 10px;
  }
  .order-details-price-info span {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .order-details-img {
    width: 100px;
    height: 60px;
  }
  .order-details-basic-info {
    font-size: 6px;
  }
  .order-details-basic-info span {
    font-size: 8px;
  }
  .order-details-price-info {
    font-size: 6px;
  }
  .order-details-price-info span {
    font-size: 8px;
  }
}

@media screen and (max-width: 480px) {
  .order-details-img {
    width: 40px;
    height: 20px;
  }
  .order-details-basic-info {
    font-size: 5px;
  }
  .order-details-basic-info span {
    font-size: 6px;
  }
  .order-details-price-info {
    font-size: 5px;
  }
  .order-details-price-info span {
    font-size: 6px;
  }
}
