.swiper {
  width: 70%;
}
.swiper-wrapper {
  padding-bottom: 30px;
}

.chefs-slider-header {
  font-size: 15px;
  background: #13753b;
  color: white;
  border: 2px solid #13753b;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.top-chef-card-body-container {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.top-chef-card-body-container .rated-star-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.top-chef-card-body-container .rated-star-container i {
  margin: 0;
  padding: 0;
  font-size: small;
}
.top-10-chef-img-container {
  height: 150px;
}

.card-img-top {
  padding-bottom: 0;
}
.slider-chef-name {
  font-size: 15px;
}

.card-img-Body {
  padding-bottom: 0;
}

.visit-chef-btn {
  height: 25px;
  margin: 0;
  padding: 0%;
}

.visit-chef-text {
  font-size: 12px;
  font-weight: 600;
  text-decoration: auto;
  min-width: 100%;
  min-height: 100%;
  color: var(--primary-color);
}
