.swiper {
  width: 70%;
}
.swiper-wrapper {
  padding-bottom: 30px;
}

.chefs-slider-header {
  font-size: 15px;
  background: #13753b;
  color: #f9a01b;
  border: 2px solid #13753b;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.top-chef-card-body-container {
  padding-bottom: 0;
}

.card-img-top {
  padding-bottom: 0;
}
.slider-chef-name {
  font-size: 15px;
}

.slider-chef-country {
  font-size: 10px;
}

.card-img-Body {
  padding-bottom: 0;
}

.visit-chef-btn {
  height: 25px;
  margin: 0;
  padding: 0%;
}

.visit-chef-text {
  font-size: 8px;
  text-decoration: auto;
  min-width: 100%;
  min-height: 100%;
}
