.order-items-container {
  width: 100%;
}

.order-item-container {
  border: 1px solid black;
  font-size: x-small;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.order-item-img-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  align-self: center;
  margin: 5px 0;
}
.order-item-img {
  height: 100%;
}
