.customer-profile-container {
  display: flex;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  justify-content: space-around;
}

.customer-profile-titles {
  color: #13753b;
  padding-bottom: 50px;
}

.customer-img-container {
  width: 30vh;
}

.customer-img {
  width: 100%;
}

.customer-img-updater-btn {
  padding: 0;
  margin: 0;
}

.customer-img-updater-btn:hover {
  background-color: #13753b;
}

.customer-info-updater-btn {
  background-color: var(--secondary-color);
  color: white;
}

.customer-info-updater-btn:hover {
  background-color: #13753b;
}
