.home-search-container {
  width: 100%;
  position: absolute;
  top: 320px;
}

@media only screen and (max-width: 1024px) {
  .home-search-container {
    top: 300px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .home-search-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
