.msg-box {
  width: 30%;
  height: fit-content;
  margin: 20px auto;
  padding: 5px;
  position: sticky;
  border-radius: 5px;
  top: 70px;
  right: 10px;
  z-index: 700;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
}
.success {
  background-color: #a8f0c6;
  border-left: 5px solid #258244;
  color: #258244;
}
.hidden {
  visibility: hidden;
}

.error .alert-text {
  font-size: 16px;
  color: white;
  margin: 0;
}
