.shopping-cart-popup-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: black;
  justify-content: center;
  z-index: 500;
  cursor: default;
}

.shopping-cart-popup-field {
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  min-width: 40%;
  height: 18%;
  background: lightgray;
  border-radius: 10px;
}

.shopping-cart-popup-bar-header {
  width: 100%;
  height: 12%;
}

.close-bar {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgb(19, 117, 59),
    rgba(19, 117, 59, 0.6),
    rgb(19, 117, 59)
  );
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart-popup-close-icon-btn {
  background: none;
  padding-top: 2px;
  border: none;
  margin-right: 2%;
}

#popup-close-x {
  color: white;
  font-size: 16px;
}

#popup-close-x:hover {
  transform: scale(0.8);
  cursor: pointer;
}

.shopping-cart-popup-desc {
  color: white;
  font-size: 15px;
  margin-bottom: 0;
  margin-left: 2%;
}

.shopping-cart-error-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart-error-container p {
  color: red;
  font-weight: 600;
}

#shopping-cart-popup-close-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
  font-weight: 700;
  padding: 5px;
  display: block;
  text-align: center;
  width: 20%;
  background-color: var(--primary-color);
  border: none;
  color: white;
  border-radius: 5px;
  margin: 20px 10px 10px 0;
}

#popup-close-btn:hover {
  transform: scale(0.96);
  cursor: pointer;
}
