.hero-section {
  position: relative;
}

.banner-container {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: end;
  overflow: hidden;
}

.banner-img {
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

.dishes-img {
  position: absolute;
  height: 90%;
  right: 3%;
  top: 5%;
}

.slogan {
  position: absolute;
  top: 20%;
  left: 3%;
  width: 30%;
  animation: slogan-load 500ms ease-in;
}

@keyframes slogan-load {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .banner-img {
    width: auto;
    height: 100%;
  }
  .dishes-img {
    height: 70%;
    top: 12%;
  }
  .slogan {
    top: 5%;
    width: 45%;
    left: 2%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .banner-img {
    height: auto !important;
    min-width: 100%;
  }
  .dishes-img {
    height: 80%;
  }
  .slogan {
    top: 15%;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .banner-img {
    height: auto !important;
    min-width: 100%;
  }
  .slogan {
    top: 20%;
    left: 3%;
    width: 35%;
  }
}

@media (min-width: 1200px) {
  .banner-img {
    height: auto !important;
    min-width: 100%;
  }
}
@media (max-width: 425px) {
  .banner-img {
    width: auto;
    height: 100%;
  }
  .dishes-img {
    height: 60%;
    top: 22%;
  }
  .slogan {
    width: 45%;
    top: 4%;
  }
}
