.result-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
  gap: 10px;
}
.meals-notFound {
  margin-top: -10%;
}
.meals-notFound img {
  position: relative;
  left: 18%;
}
.meals-notFound h1 {
  font-size: 1.5vw;
  padding: 0%;
}
.meals-notFound h5 {
  color: var(--darker-gray-color);
}
.loading-gif {
  margin-left: 40%;
  margin-top: 10%;
}
.error {
  width: 35%;
  margin-top: 8%;
  margin-left: 35%;
}
.error img {
  margin-left: 40%;
}

.error h1 {
  font-size: 1.5vw;
  margin-left: 12%;
}

.error h5 {
  color: var(--darker-gray-color);
  font-size: 1.3vw;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .result-page {
    width: 70%;
    margin: 15%;
  }
}
