.cuisine-buttons-container {
  display: flex;
  margin-top: 40px;
  max-height: 0px;
  justify-content: center;
}

.btn {
  margin-right: 0.25vw;
  width: 6.5vw;
  font-size: 1vw;
  background-color: var(--secondary-color);
  border: none;
}

.btn-primary:hover {
  background-color: var(--primary-color) !important;
}

.menu-trigger button {
  overflow: hidden;
  cursor: pointer;
  background-color: var(--dark-gray-color);
  color: var(--secondary-color);
  border: none;
  width: 14vw;
}

.menu {
  margin-top: 10px;
  width: 215px;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--light-gray-color);
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.inactive {
  opacity: 0;
  display: none;
  transform: translateY(-10px);
  transition: 500ms ease;
}

.menu ul li {
  padding: 5px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  list-style: none;
  color: var(----light-gray-color);
}

.menu ul li:hover {
  cursor: pointer;
  /* color: var(--secondary-color); */
}

@media only screen and (max-width: 600px) {
  .cuisine-buttons-container {
    display: none;
  }
  .menuMobile {
    width: 80%;
    margin-left: 10%;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--light-gray-color);
  }

  .dropdownItem {
    padding: 5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    list-style: none;
    color: var(----light-gray-color);
  }

  .menu-triggerMobile button {
    margin: 10px auto;
    width: 90vw;
    font-size: 2.5vw;
  }

  .menu-triggerMobile i {
    float: right;
    color: var(----light-gray-color);
  }
}
