.cuisine-buttons-container {
  display: flex;
  max-height: 0px;
  justify-content: center;
  margin-top: 50px;
}

.btn {
  margin-right: 1vw;
  width: 6.5vw;
  font-size: 1vw;
  background-color: var(--secondary-color);
  border: none;
}
.cuisine-buttons {
  width: 8vw;
  color: black;
  height: 30px;
  padding: 0;
}
.btn-primary:hover {
  background-color: var(--primary-color) !important;
}

.other-cuisine-btn {
  height: 30px;
}

.menu-trigger {
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu-trigger button {
  overflow: hidden;
  cursor: pointer;
  background-color: var(--primary-color);
  color: whitesmoke;
  border: none;
  width: 14vw;
}

.menu {
  width: 14vw;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--light-gray-color);
}

.categories-active {
  opacity: 1;
  visibility: visible;
  width: 14vw;
  position: absolute;
  z-index: 4;
  transition: 500ms ease;
  margin-top: 5px;
}

.categories-inactive {
  opacity: 0;
  display: none;
  position: absolute;
}

.menu ul li {
  padding: 10px 0;
  list-style: none;
  color: var(----light-gray-color);
  color: white;
}

.menu ul {
  padding: 0;
}

.menu ul li:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: white;
}

.drop-down-menu {
  display: flex;
  justify-content: center;
  border: none;
  padding: 10px 0;
  overflow: hidden;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
  .cuisine-buttons-container {
    display: none;
  }
  .menu-containerMobile {
    margin-top: 20px;
  }
  .menuMobile {
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin: 0 7vw;
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: var(--light-gray-color);
  }

  .active {
    position: absolute;
    left: 0;
    right: 0;
  }

  .card {
    margin-top: 20px;
  }

  .btn {
    width: 100%;
    margin: 0;
    font-size: 14px;
  }

  .menuMobile ul li .btn-primary {
    background-color: var(--primary-color);
    padding: 8px 0;
    list-style: none;
    color: var(----light-gray-color);
  }

  .menuMobile ul {
    padding: 0;
    margin: 0;
  }

  .menuMobile ul li .btn-primary:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: white;
  }

  .menu-triggerMobile button {
    margin: 10px auto;
    width: 85vw;
    font-size: 3.5vw;
  }

  .menu-triggerMobile i {
    float: right;
    color: var(----light-gray-color);
  }
}
