/* search input */
.btn.btn-search {
  border-radius: 0;
  height: 50px;
  width: 50px;
  background-color: var(--secondary-color);
  color: #fff;
}
.search-box {
  margin-top: 8% !important;
}

.btn-search:hover {
  background-color: var(--dark-gray-color) !important;
}

/* Search by Cuisine */
.cuisine-buttons-container {
  display: flex;
  margin-top: 40px;
  max-height: 0px;
  justify-content: center;
}

.btn {
  margin-right: 0.25vw;
  width: 6.5vw;
  font-size: 1vw;
  background-color: var(--secondary-color);
  border: none;
}
.btn-primary:hover {
  background-color: var(--primary-color) !important;
}

.menu-trigger button {
  overflow: hidden;
  cursor: pointer;
  background-color: var(--dark-gray-color);
  color: var(--secondary-color);
  border: none;
  width: 14vw;
}

.menu {
  margin-top: 10px;
  width: 215px;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--light-gray-color);
}
.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.inactive {
  opacity: 0;
  display: none;
  transform: translateY(-10px);
  transition: 500ms ease;
}

.menu ul li {
  padding: 5px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  list-style: none;
  color: var(----light-gray-color);
}

.menu ul li:hover {
  cursor: pointer;
  /* color: var(--secondary-color); */
}
/* card */
.container {
  position: absolute;
  top: 50%;
  margin: 0 auto;
  width: 80%;
  z-index: -1;
}
.row {
  row-gap: 10px;
}

.categories-Container {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -------------------------- Max Scree 600px  ---------------------------*/

@media only screen and (max-width: 600px) {
  .btn.btn-search {
    font-size: 2.5vw;
  }

  .cuisine-buttons-container {
    display: none;
  }

  .menuMobile {
    width: 80%;
    margin-left: 10%;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--light-gray-color);
  }

  .dropdownItem {
    padding: 5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    list-style: none;
    color: var(----light-gray-color);
  }

  .menu-triggerMobile button {
    margin: 10px auto;
    width: 90vw;
    font-size: 2.5vw;
  }

  .menu-triggerMobile i {
    float: right;
    color: var(----light-gray-color);
  }

  /* cards */
  .container {
    width: 90%;
    position: absolute;
    top: 30%;
    z-index: -1;
  }
  .card {
    width: 100%;
    margin-bottom: 10px;
  }
}
